<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2">
  <Appenders>
    <Lambda name="Lambda">
      <PatternLayout>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{AWSRequestId} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </PatternLayout>
    </Lambda>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="Lambda" />
    </Root>
    <Logger name="org.dacci" level="info" />
  </Loggers>
</Configuration>
